{% extends 'base.html' %}
{% load static %}
{% block title %}
    Добавление
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'add.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="container p-3 bg-dark text-white container-margin">
        <h1>Добавление компании</h1>
        <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href ='{% url 'companies_page' %}'">Назад</button>
    </div>
    <div class="container p-3 bg-dark text-white container-margin">
        <form method="post">
            {% csrf_token %}
            <table style="text-align: left;">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}