{% extends 'base.html' %}
{% load static %}
{% block title %}
    Компании
{% endblock %}
{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="{% static 'showall.css' %}">
{% endblock %}
{% block content %}
<script>
    $(document).ready( function () {
        $('#table_id').DataTable( {
            paging: false,
            searching: true,
            ordering: true,
        } );
    } );
</script>
<div>
    <div class="container p-3 bg-dark text-white container-margin">
        <h1>Список компаний</h1>
        <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href ='{% url 'add_company' %}'">Добавить</button>
    </div>
    {% if companies %}
        <div class="container p-3 bg-dark text-white container-margin">
            <table class="table" id="table_id">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Специализация</th>
                    <th scope="col">Дата организации</th>
                    <th scope="col">Сайт</th>
                    <th scope="col">Дополнительно</th>
                </tr>
                </thead>
                <tbody>
    
                {% for company in companies %}
                <tr>
                    <td style="color: black;">{{ company.name }}</th>
                    <td style="color: black;">{{ company.specialization }}</td>
                    <td style="color: black;">{{ company.organization_date }}</td>
                    <td style="color: black;">{{ company.site }}</td>
                    <td style="color: black;">{{ company.description }}</td>
                </tr>
                {% endfor %}
    
                </tbody>
            </table>
        </div>
    {% else %}
    <div class="container p-3 bg-dark text-white container-margin">
        <p>Компании не добавлены в систему</p>
    </div>
    {% endif %}
</div>
{% endblock %}