{% extends 'base.html' %}
{% load static %}
{% block title %}
    Компании
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'showall.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="container p-3 bg-dark text-white container-margin">
        <h1>Список компаний</h1>
        <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href ='{% url 'add_company' %}'">Добавить</button>
    </div>
    {% if companies %}
        {% for company in companies %}
        <div class="container p-3 bg-dark text-white container-margin">
            <h3>{{ company.name }}</h3>
            <p>Описание: {{ company.description }}</p>
            <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href ='{% url 'start_page' %}'">Подробнее</button>
        </div>
        {% endfor %}
    {% else %}
    <div class="container p-3 bg-dark text-white container-margin">
        <p>Компании не добавлены в систему</p>
    </div>
    {% endif %}
</div>
{% endblock %}